/* Body */
body {
  font-family: 'Open Sans', sans-serif;
  color: #2E2F33; }

/* Navigation */
.navbar-logo {
  float: left;
  width: 40px;
  margin: 5px; }

.navbar-black {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75); }
  .navbar-black .active {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75); }
  .navbar-black a {
    color: white; }
  .navbar-black .navbar-toggle {
    border-color: #333; }
  .navbar-black .navbar-toggle:focus {
    background-color: #222; }

.nav > li > a:hover, a:focus {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ccc; }

/* Homepage */
.home-slide {
  width: 100%;
  min-height: 400px;
  position: relative;
  display: block;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center; }
  .home-slide img {
    width: 100px; }
  .home-slide h1 {
    text-align: left;
    font-size: 64px; }
  .home-slide p {
    text-align: left;
    font-size: 18px; }

.darken {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: block;
  z-index: 0; }

.home-first {
  color: white;
  padding-top: 130px;
  min-height: 500px; }
  .home-first .darken {
    margin-top: -130px; }
  .home-first .container {
    z-index: 10;
    width: 100%;
    position: relative; }
  .home-first h1 {
    text-transform: uppercase;
    text-align: center; }
  .home-first h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif; }

.home-final {
  padding-top: 70px; }
  .home-final h1 {
    text-align: center; }

.home-text {
  z-index: 20;
  min-height: 400px;
  background: white; }

.home-text .container {
  padding-top: 70px; }

.home-image {
  z-index: 10;
  margin-top: -100px;
  min-height: 500px; }

/* Other stuff */
.content {
  padding-top: 70px; }

/* Footer */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */ }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: #f5f5f5 solid 1px;
  padding-top: 15px;
  text-align: center; }
