/* Body */
body {
    font-family: 'Open Sans', sans-serif;
    color: #2E2F33;
}


/* Navigation */
$nav-bg-color-backup: black;
$nav-bg-color: rgba(0,0,0,0.75);

.navbar-logo {
    float: left;
    margin: 5px;  
}

.navbar-logo img {
    width: 40px;
}

.navbar-black {
    background-color: $nav-bg-color-backup;
    background-color: $nav-bg-color;
    
    .active {
        background-color: $nav-bg-color-backup;
        background-color: $nav-bg-color;  
    }

    a {
        color: white;
    }
    .navbar-toggle {
        border-color: #DDD; 
        background-color: #DDD;  
    }

    .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: #DDD;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-collapse, .navbar-form {
        border-color: #e7e7e7;
    }

    // .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus{
    //     background-color: #e7e7e7;
    //     color: #555;
    // }

}

.nav > li > a:hover,a:focus {
    background-color: $nav-bg-color-backup;
    background-color: $nav-bg-color;
    color: #ccc;
}

// @media all and (max-width: 1000px) and (min-width: 768px) {
//     .navbar-nav {
//         width: 100%;
//     }

//     .container .navbar-header {
//         width: 100%;
//         margin-left: auto;
//         margin-right: auto;
//         text-align: center;
        
//     }

//     .navbar-logo {
//         float: none;
//     }
//     .navbar-brand {
//         float: none;
//     }
// }


@media all and (max-width: 800px) {
    .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media all and (max-width: 380px) {
    .navbar-brand {
        display: none;
    }
    .navbar-logo {
        width: 100%;
        background: transparent;
        text-align: center;
        position: absolute;
        z-index: 5;
    }

    .navbar-toggle {
        z-index: 10;
        position: relative;
    }

}

/* Homepage */

.home-slide {
    width: 100%;
    min-height: 400px;
    position: relative;
    display: block;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    padding-bottom: 100px;
    img {
        width: 100px;
    }

    h1 {
        text-align: left;
        font-size: 64px;
    }

    p {
        text-align: left;
        font-size: 18px;
    }
}

.darken {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    display: block;
    z-index: 0;
}

.home-first {
    color: white;
    padding-top: 130px;
    min-height: 500px;
     
    .darken {
        margin-top: -130px;
    }

    .container {
        z-index: 10;
        width: 100%;
        position: relative;
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        text-transform: uppercase;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
    }
}


.home-final {
    h1 {
        text-align: center;
    }
    padding-top: 150px;
}

.home-text {
    z-index: 20;
    min-height: 400px;
    background: white;
}

.home-text .container {
    padding-top: 100px;
}

.home-image {
    z-index: 10;
    margin-top: -100px;
    min-height: 500px;
}

.flat-button {
    border: solid 1px #428bca;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 64px;
    padding: 10px 20px 20px 20px;
    white-space: nowrap;
    overflow: auto;
   
    color: white;
    background: #428bca;
    
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.flat-button:hover, .flat-button:active{
    // border-color: #2A6496;
    text-decoration: none;
    color: #428bca;
    background: white;
    

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    
}

@media all and (max-width: 400px) {
    .flat-button {
        font-size: 36px;
        padding-bottom: 15px;
    }
}

@media all and (max-width: 280px) {
    .flat-button {
        font-size: 24px;
        padding-bottom: 12px;
    }
}

/* Other stuff */
.content {
    padding-top: 70px;
}



/* Footer */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  //background-color: #f5f5f5;
  border-top: #f5f5f5 solid 1px;
  padding-top: 15px;
  text-align: center;
}

